{% extends "PortfolioPages/galleryBase.html" %}
{% block maintitle %}Citizen Science Prototype{% endblock %}

{% block img %}<img class="card-img-top"
                    src="{{ url_for('static', filename='/img/csi.png') }}"
                    alt="Card image cap">{% endblock %}

{% block retro %}Worked with an interdisciplinary team of health and technology professionals who aimed to build a platform that would be a go-to resource for practical behavioral health interventions. I worked on building the prototype for such a platform, mainly on the backend where I used django to model medical data in accordance to what my group members said.{% endblock %}