{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block Content %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url({{ url_for('static', filename='img/DSC_0617.jpg') }})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <span class="subheading">I Think I'm Me Therefore I Am Me</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h3>Basics</h3>
                <p>My name is Anthony, I am currently in my first year of university, and I really like the Internet!</p>
                <h3>Education</h3>
                <p>I am currently pursuing an education in electrical engineering. I just started but so far it's pretty interesting (and challenging).</p>
                <h3>Interests?</h3>
                <p>Tech Projects (like this), video games (especially anything nintendo and sonic), helping out the
                    environment, reading, and rock music. </p>
                <h3>Thanks for reading! The rest of this site is just a personal blog.</h3>
            </div>
        </div>
    </div>

    <hr>
{% endblock %}
